/* ==========================================
   NAVBAR
========================================== */

.navbar{
    backdrop-filter:blur(10px);
    transition:.3s;
}

.navbar-brand img{
    transition:.3s;
}

.navbar-brand:hover img{
    transform:scale(1.05);
}

.nav-link{
    position:relative;
    font-weight:500;
    color:#374151!important;
    transition:.25s;
}

.nav-link:hover{
    color:var(--brand-primary)!important;
}

.nav-link::after{

    content:"";
    position:absolute;

    left:0;
    bottom:-6px;

    width:0;
    height:2px;

    background:var(--brand-primary);

    transition:.25s;

}

.nav-link:hover::after,
.active-link::after{

    width:100%;

}

.active-link{

    color:var(--brand-primary)!important;

}